.post-comment-upload .upload-form {
  display: flex;
}

.post-comment-upload .upload-form .post-text {
  flex: 1;
  font-size: 15px;
  padding: 10px 20px;
  background-color: #eee;
}

.post-comment-upload .upload-form .post-button {
  background-image: url(../img/white\ pen.png);
  background-color: red;
  background-size: cover;
  height: 40px;
  width: 40px;
  border: none;
}

.post-comment-upload .upload-form .post-button:focus {
  outline: none;
}
