.IconLink {
  width: 60px;
  padding-bottom: 5px;
  text-align: center;
  .IconLink__content {
    display: inline-block;
    text-align: center;

    img {
      width: 30px;
    }

    div {
      color: #cdcdcd;
      margin: 7px;
      font-size: 10px;
    }

    &:hover {
      cursor: pointer;
      transition: 100ms ease-in;
      transform: scale(1.1);
    }
  }
}
