.lecture-title {
  margin-bottom: 10px;

  .title:hover {
    cursor: pointer;
  }

  span {
    font-size: 10px;
    color: red;
  }

  .prof {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
}
