.lecture-title{
    margin-bottom: 10px;
}

.lecture-title .title:hover {
    cursor:pointer;
}

.lecture-title span{
    font-size:10px;
    color: red;
}

.lecture-title .prof{
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
