.current-upload {
  background-color: #ccc;
  height: 500px;
  overflow: auto;
  margin-top: 30px;
  margin-right: 30px;
  padding-left: 10px;
  border-radius: 10px;
  width: 250px;
  justify-content: center;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
  }
}
