.top {
    display:flex;
    justify-content: space-between;
    background-color : #ccc;
    margin : 20px;
    padding : 20px;
    border-radius: 5px;
}

.top .button {
    background-color : #444;
    align-self: start;
    margin :10px;
    padding : 5px;
    border-radius:5px;
    color:#ccc;
}

.top .button:hover{
    background-color:#333;
}

.contents {
    background-color: #ccc;
    margin:20px;
}