* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.login-home {
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height: 400px;
  margin: 100px auto;
  padding: 20px;

  h1 {
    color: rgb(52, 60, 173);
    margin-bottom: 70px;
  }
}

#login-error {
  color: rgb(158, 48, 48);
}

#id,
#pwd {
  border: none;
  width: 250px;
  height: 30px;
  margin: 10px;
}

#submit {
  border: none;
  margin-top: 40px;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: rgb(83, 88, 155);
}
