.home {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  }

  
.main {
  margin : auto;
  display: flex;
  flex-direction: column;
}

.Main__container__upper {
  display: flex;
  opacity: 0;
  .Main__dday {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 180px;
    background-color: white;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }
  
  animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 180px;
  background-color: #40368a;
  margin: 16px;
  border-radius: 12px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.Main__container__lower {
  display: flex;
  opacity: 0;
  .Main__schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 190px;
    background-color: #40368a;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }
  .Main__notice {
    width: 560px;
    height: 190px;
    background-color: white;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }
  animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  float: right;
}

@keyframes grow {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 0.9;
  }
}
  