.home {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main {
  margin: auto;

  display: flex;
  flex-direction: column;
}

.Main__container__upper {
  display: flex;
  opacity: 0;
  .Main__dday {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 180px;
    background-color: white;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }

  animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.Main__container__lower {
  display: flex;
  opacity: 0;
  .Main__schedule {
    width: 300px;
    height: 190px;
    background-color: white;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }
  .Main__notice {
    width: 500px;
    height: 190px;
    background-color: white;
    margin: 16px;
    border-radius: 12px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  }
  animation: fadeIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  float: right;
}

.second {
  width: 1000px;
  height: 434px;
  display: flex;
  justify-content: space-around;
}

.second .section {
  height: 100%;
  width: 300px;
  border-radius: 10px;
  padding-top: 40px;
}

.second .section-wrapper {
  height: 100%;
  background-color: #24303d;
}

.second .vertical-wrapper {
  height: 434px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 40px;
}

.second .img-wrapper {
  width: 240px;
  height: 170px;
  display: flex;
}

.second img {
  width: 100%;
  object-fit: contain;
}
.second .text-contents {
  width: 300px;
  height: 100%;
  line-height: 1.6;
}
.second .title-wrapper {
  font-weight: bold;
  text-align: center;
  padding: 0px 10px;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  margin-bottom: 10px;
}

.second .text-wrapper {
  padding: 0px 20px;
  height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

@keyframes grow {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 0.9;
  }
}
